%message{
    font-family: sans-serif;
    font-size:18px;
    font-weight:bold;
    border:1px solid black;
    padding:20px;
    margin:20px;
}
.sucess{
    @extend %message;
    background-color:green;
}
.warning{
    @extend %message;
    background-color:orange;
}
.error{
    @extend %message;
    background-color:red;
}

/**
*sass inheritance.scss:inheritance.css
*sass --watch inheritance.scss:nesting.css
*/